<!-- filepath: backend/views/partials/login_form.ejs -->

<section id="login" class="hidden">

    <h2>Login</h2>
    <form id="loginForm">
        <label>
            Email:
            <input type="email" name="user_email" required />
        </label>
        <label>
            Password:
            <input type="password" name="user_password" required />
        </label>
        <button type="submit">Login</button>
    </form>
</section>